{% include '_layout/header.html.twig' %}

<main>
{% block main %}
    (This is where the <tt>{ % block main %}</tt> should be overriden)
{% endblock main %}
</main>

{% include '_layout/footer.html.twig' %}
