<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple.css Test Page</title>

    <link rel="stylesheet" href="/assets/css/simple.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body id="top">
<header>
    <h1>Simple.css Test Page</h1>
    <p>This is a test page filled with common HTML elements.</p>
    <nav>
        <ul>
            <li><a href="#text">Text</a></li>
            <li><a href="#embedded">Embedded content</a></li>
            <li><a href="#forms">Form elements</a></li>
            <li><a href="https://simplecss.org/">Project homepage</a></li>
            <li><a href="https://github.com/kevquirk/simple.css">GitHub repo</a></li>
        </ul>
    </nav>
</header>
